@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Poppins:wght@300;400;500;700");

body {
  background-color: #C2DED1;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color:#7C81AD;
  max-width: 100%;
}
/* hello */

#main-title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #023047;
  text-align: center;
  letter-spacing: 5px;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  color: #023047;
  text-align: center;
}

.white-box {
  background-color: #F9F3CC;
  width: 800px;
  padding: 46px;
  margin: 32px auto;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  width: 100%;
  max-width: 100%;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 15px;
}

.list {
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  padding: 0;
}

.list-item {
  display: inline-block;
  font-size: 40px;
  margin: 12px;
  color: #213555
}

.list-item:hover{
  color: #D2E0FB;
  transition: 0.5s ease;
}

.link:hover {
  background-color: #7C81AD;
}

.block {
  display: inline-block;
}

.link {
  text-decoration: none;
  color: #D2E0FB;
  background-color: #213555;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  transition: 0.5s ease;
  text-align: center;
}

img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1023px) {
    .white-box {
      width: 600px;
    }
}

@media only screen
  and (min-device-width: 425px)
  and (max-device-width: 760px) {
    .white-box {
      width: 300px;
    }
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 376px) {
    .white-box {
      width: 200px;
    }
}
